/include/ "system-conf.dtsi"
/ {
	amba_pl@0 {
		data_source_top0:data_source_top@a0000000 {
			compatible = "xlnx,data-source-top-1.0";
			reg = <0x0 0xa0000000 0x0 0x10000>;
		};
	};
};

&data_source_top0 {
	status = "disabled";
};


&adc_sink_i {
	status = "disabled";
};

&misc_clk_0 {
	status = "disabled";
};

&axi_gpio {
	status = "disabled";
};

&axi_intc {
	status = "disabled";
};

&dac_source_i {
	status = "disabled";
};

&misc_clk_1 {
	status = "disabled";
};

&dec_ip_mon {
	status = "disabled";
};

&dec_op_mon {
	status = "disabled";
};

&enc_ip_mon {
	status = "disabled";
};

&enc_op_mon {
	status = "disabled";
};

&gpio_reset {
	status = "disabled";
};

&sd_fec_dec {
	status = "disabled";
};

&misc_clk_2 {
	status = "disabled";
};

&stats {
	status = "disabled";
};

&usp_rf_data_converter_0_i {
	status = "disabled";
};
